* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 13px;
}

#app {
    height: 100vh;
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('background.jpg');
    background-size: cover;
    color: rgb(44, 44, 44);
}

#app-head {
    width: 85%;
    height: 75px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.75);
    background-color: rgba(255, 255, 255, 0.75);
}

#app-head h1 {
    font-size: 2.5rem;
    text-shadow: 1.5px 1.5px rgba(0, 0, 0, 0.3);
    color: #006151;
}

#app-body {
    width: 85%;
    margin: 20px auto;
    padding: 20px 0;
    border-radius: 20px;
    box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.75);
    background-color: rgba(255, 255, 255, 0.75);
}

#app-add {
    position: relative;
    margin: 0 auto 30px;
    width: 90%;
    height: 35px;
    border-radius: 15px 17px 17px 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#app-add input {
    width: 85%;
    height: 100%;
    padding-left: 10px;
    border: none;
    border-radius: 15px 0 0 15px;
}

#add-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    width: 15%;
    height: 100%;
    border: none;
    border-radius: 0 15px 15px 0;
    color: white;
    font-size: 1.075rem;
    background-color: limegreen;
    cursor: pointer;
}

#app-lists {
    width: 90%;
    margin: 0 auto;
    list-style: none;
}

.app-list {
    position: relative;
    margin: 17px 0;
    padding: 6px 0 6px;
    border-radius: 7px 0 10px 7px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    background-color: rgba(255, 255, 255, 0.9);
}

.app-list input {
    display: inline-block;
    margin: 0 12px 0 15px;
}

.remove-btn {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 10%;
    border: none;
    border-radius: 0 0 8px 0;
    background-color: rgb(255, 99, 82);
    color: white;
    cursor: pointer;
}

@media (min-width: 1200px) {
    :root {
        font-size: 16px;
    }

    #app {
        background-image: url(./background\ hd.jpg);
        backdrop-filter: blur(20px);
        padding-top: 50px;
    }

    #app-head {
        width: 60%;
        margin-bottom: 50px;
        height: 100px;
    }

    #app-head h1 {
        font-size: 4rem;
    }

    #app-body {
        width: 60%;
        height: 60vh;
    }

    #app-add {
        height: 45px;
    }

    #app-add input {
        padding-left: 25px;
        font-size: 1.2rem;
    }

    #add-btn:hover {
        background-color: lime;
        color: black;
    }

    .remove-btn:hover {
        background-color: red;
        color: black;
    }

}